<style>
.option{
	width:470px;
	display:inline block;
	padding:10px 0 10px 0;
	vertical-align: middle;
	background: rgb(255, 255, 255, 0.5);
	margin:10px 0 10px 10px;
	color:#000000;
	border-radius:20px;
}
.option:hover{
	background: #00030C;
	color: #F6F6F6;
}
.next-btn{

	border:none;
	outline:none;
	background: rgb(255, 25,255,0.5);
	width:150px;
	height:50px;
	border-radius:20px;
	cursor:pointer;
	float:right;
	margin:10px;
}
.next-btn:hover{
	background: #00030C;
	color:#f6f6f6;
}
.result{
	height:100px;
	text-align:center;
	font-size:75px;
}
.option input:checked .option{
	background:#00030C;
	color:#f6f6f6; 
}
</style>
 <!-- W3 schools styles-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<div ng-controller="liveCtrl as live">
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
<br/>
        <div class="container">
            <a class="navbar-brand" href=""><h2><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;Examify - DashBoard</h2></a>
      </div>
      <br/>
</nav>
<div Style="color:white;font-weight:bold;font-size:2em; text-align:center;" id="quiz-time-left"></div>  
<div style="background: #F2F2F2;" id="quizContainer" class="container">
<div class="title" style="text-align: center; font-weight:bold; font-size: 1.5em;" >{{live.quizHeading}}</div>
<div id="question" class="question" style="font-size: 2em; font-weight: bold;"></div>
<label class="option"><input type="radio" name="option" value="1" /> <span  id="opt1"></span></label>
<label class="option"><input type="radio" name="option" value="2" /> <span  id="opt2"></span></label>
<label class="option"><input type="radio" name="option" value="3" /> <span  id="opt3"></span></label>
<label class="option"><input type="radio" name="option" value="4" /> <span  id="opt4"></span></label>
<button id="nextButton" class="next-btn" ng-click="live.loadNextQuestion()">Next Question </button>
</div>
<br/>
<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Examify - Test Portal
                    <br/>Designed By- Sanjay Kumar Mahto<br/>
                    <br/>Connect With Me:<br/>
                    <a href="https://www.facebook.com/sanjay.mahto.9461"><i class="fa fa-facebook fa-2x"></i></a>
                        &nbsp;&nbsp;
                    <a href="https://twitter.com/MahtoSa"><i class="fa fa-twitter fa-2x"></i></a>
                        &nbsp;&nbsp;
                    <a href="https://www.instagram.com/kuma7609/"><i class="fa fa-instagram fa-2x"></i></a>
                       &nbsp;&nbsp;
                    <a href="https://github.com/sanjaymahto"><i class="fa fa-github fa-fw fa-2x"></i></a>
                       &nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/sanjay-kumar-a9359785/"><i class="fa fa-linkedin fa-2x"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Place to keep all the modals -->

 <!-- Modal -->
        <div class="modal fade thisismodalforlivetestwarning" id="modalfortestwarning" role="dialog" data-backdrop="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div style="background-color: #4CAF50;"  class="modal-header">
                        <h4 align="center" class="modal-title"><span style="color:white;">: Please Read The instructions Carefully :</span></h4>
                    </div>
                    <div class="modal-body">
                   <ol>
                   <li>You will be alloted 5 Minutes to Give Test, After which window will close Automatically.</li>
                   <li>You can't go back after submitting the Answer for each Question.</li>
                   <li>you can submit the Test before the finishing Time if you want but can't after the time finishes, It will Automatically be submitted.</li>
                   <li>Please don't do cheating in test. Be fair to yourself for your true Assessment of skills.</li>
                   <li>If you aggree with all the terms stated above you may proceed by clicking Start Button Below.</li> 
                   </ol>
                   <h3 align="center"><strong><em>Best Of Luck!</em></strong></h3>
                    </div>
                    <div style="background-color: #404549;"  class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="live.loadQuestion(0)">Start!</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" id="returntotaketest">Return</button>
                    </div>
                </div>
            </div>

        </div>



<!-- MOdal for User Performance -->

<!-- Modal -->
        <div class="modal fade thisismodalforUserTestPerformance" role="dialog" data-backdrop="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div style="background-color: #4CAF50;"  class="modal-header">
                        <h4 align="center" class="modal-title"><span style="color:white;">: Your Score Card for the Test :</span></h4>
                    </div>
                    <div class="modal-body">
                   <div style="background-color: #404549;" class="modal-body">
                       <a  class=" list-group-item">User ID: {{live.performanceUserID}}</a>
                       <a  class=" list-group-item">Total Correct Answers: {{live.answerscorrect}}</a>
                        <a  class=" list-group-item">Total Wrong Answers: {{live.answerswrong}}</a>
                        <a  class=" list-group-item">Score Secured: {{live.securedscore}}</a>
                        <a  class=" list-group-item">Total Time Taken: {{live.timeTaken}} Seconds</a>

                    </div>
                   <h3 align="center"><strong><em>Thank You! For giving the Test...</em></strong></h3>
                    </div>
                    <div style="background-color: #404549;"  class="modal-footer">
    
                        <button type="button" class="btn btn-danger" id="returntotaketest">Return</button>
                    </div>
                </div>
            </div>

        </div>


