<style>
    #regContainer {
        margin-top: 3%;
    }
    
    .panel-login {
        border-color: #ccc;
        background-color: #f9f8f8;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    }
    
    .panel-login>.panel-heading {
        text-align: center;
    }
    
    .panel-login>.panel-heading a {
        text-decoration: none;
        font-weight: bold;
        font-size: 28px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    
    .panel-login>.panel-heading a.active {
        font-size: 34px;
    }
    
    .panel-login>.panel-heading hr {
        margin-top: 10px;
        margin-bottom: 0px;
        clear: both;
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
        background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
        background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    }
    
    .panel-login input[type="text"],
    .panel-login input[type="email"],
    .panel-login input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    
    .panel-login input:hover,
    .panel-login input:focus {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #ccc;
    }
    
    .btn-login {
        background-color: #3D9DB3;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #2d92a9;
    }
    
    .btn-login:hover,
    .btn-login:focus {
        color: #fff;
        background-color: #198da8;
        border-color: #53A3CD;
    }
    
    .btn-register {
        background-color: #17ae47;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #1CB94A;
    }
    
    .btn-register:hover,
    .btn-register:focus {
        color: #fff;
        background-color: #1CA347;
        border-color: #1CA347;
    }
    
    .fullscreen_bg {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: repeat;
    }
    
    .panel-heading a {
        font-size: 48px;
        color: rgb(6, 106, 117);
        padding: 2px 0 10px 0;
        font-family: 'FranchiseRegular', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        text-align: center;
        padding-bottom: 30px;
    }
    
    .panel-heading a {
        background: -webkit-repeating-linear-gradient(-45deg, rgb(18, 83, 93), rgb(18, 83, 93) 20px, rgb(64, 111, 118) 20px, rgb(64, 111, 118) 40px, rgb(18, 83, 93) 40px);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

</style>
<div ng-controller="indexCtrl as index">
    <div class="brand">Examify - Test Portal</div>
    <div class="address-bar">: Live Test Taking System :</div>


    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Examify - Test Portal</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/">Home</a>
                </li>
                <li ng-if="index.logged() === 0">
                    <a href="#/login-signup">login/Signup</a>
                </li>
                <li ng-if="index.logged() === 1 && index.username === 'Admin'">
                    <a href="#/admin/{{index.userID}}">Dashboard</a>
                </li>
                <li ng-if="index.logged() === 1 && index.username !== 'Admin'">
                    <a href="#/dashboard/{{index.userID}}">Dashboard</a>
                </li>
                <li>
                    <a href="#/contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>

<div id="fullscreen_bg" class="fullscreen_bg" />
<div id="regContainer" class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" ng-submit="index.submitLog()" role="form" style="display: block;">
                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="text" name="email" id="email" tabindex="1" ng-model="index.email" class="form-control" placeholder="Username" value="">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" tabindex="2" ng-model="index.password" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                                <p align="center"><a style="color:red;" href="#/forgotpass">Forgot Password?</a></p>
                                <p align="center">OR</p>
                                <hr/>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                    <a align="center" class="btn  btn-social btn-facebook" ng-click="index.submitFacebook()">
                                        <span class="fa fa-facebook"></span> Sign in with Facebook</a>
                                    <a align="center" class="btn btn-social btn-google" ng-click="index.submitGoogle()">
                                        <span class="fa fa-google"></span> Sign in with Google
                                    </a>
                            </form>

                            </div>
                            <form id="register-form" ng-submit="index.submitSign()" role="form" style="display: none;">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username" tabindex="1" ng-model="index.name" class="form-control" placeholder="Username" value="">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" class="form-control" ng-model="index.email" placeholder="Email" value="">
                                </div>
                                <div class="form-group">
                                    <label for="mobileNumber">Mobile Number</label>
                                    <input type="Number" name="mobileNumber" id="mobileNumber" class="form-control" ng-model="index.mobileNumber" placeholder="Mobile Number" value="">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" tabindex="1" ng-model="index.password" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="confirm-password">Security Question</label>
                                    <input type="text" name="Security" id="Security" tabindex="1" class="form-control" ng-model="index.security" placeholder="Security Question">
                                </div>
                                <div class="form-group">
                                    <label for="confirm-password">Answer</label>
                                    <input type="text" name="Security" id="Security" tabindex="1" class="form-control" ng-model="index.securityAnswer" placeholder="Answer">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>
                    <br/>Connect With Me:<br/>
                    <a href="https://www.facebook.com/sanjay.mahto.9461"><i class="fa fa-facebook fa-2x"></i></a> &nbsp;&nbsp;
                    <a href="https://twitter.com/MahtoSa"><i class="fa fa-twitter fa-2x"></i></a> &nbsp;&nbsp;
                    <a href="https://www.instagram.com/kuma7609/"><i class="fa fa-instagram fa-2x"></i></a> &nbsp;&nbsp;
                    <a href="https://github.com/sanjaymahto"><i class="fa fa-github fa-fw fa-2x"></i></a> &nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/sanjay-kumar-a9359785/"><i class="fa fa-linkedin fa-2x"></i></a>
                </p>
            </div>
        </div>
    </div>
</footer>
</div>
<script>
    $(function() {

        $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });

</script>
