
 <!-- W3 schools styles-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div ng-controller="testCtrl as test">
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
<br/>
        <div class="container">
            <a class="navbar-brand" href=""><h2><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;Examify - DashBoard</h2></a>
         <ul align="right" class="nav navbar-nav pull-right">
          <!-- Button for back to dashboard -->
         <button align="right" type="button"  style="margin:7px" class="btn btn-logged btn-success"       aria-haspopup="true" aria-expanded="false"><a style="color:white;" href="#/dashboard/{{test.userId}}">Back&nbsp;</a></button>
          <!-- End of back to dashboard -->
        </ul>
      </div>
      <br/>
</nav>


<section >
    <h1 align="center" style="color:white;">{{test.heading}}</h1>
    <h4 align="center" style="color: white;">: Tests Available :</h4>
  <br>

  <div  class="row container-fluid">
  &nbsp;
<div ng-init="test.getTests()" class="modal-body">                                 
<div class="col-sm-4 w3-card-2"  ng-repeat="test1 in test.testArray track by $index" style="width:33%;">
    <header class="w3-container w3-green">
      <h1 align="center">{{test1.testName}}</h1>
    </header>
    <div class="w3-container w3-white">
      <p align="center"><img align="center" src="img/testimg.png" class="img-fluid" alt="Responsive image"/></p>
    </div>
    <footer class="w3-container w3-green">
      <h5 align="center"><span align="center"><botton class="btn btn-primary idoftest"   data-id={{test1._id}} data-user={{test.userId}}><a style="color:white;"
                    id="link">Take Test!</a></botton></span></h5>
    </footer>
    <br/>
  </div>
  </div>
  </div>
  <br/>

<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Examify - Test Portal
                    <br/>Designed By- Sanjay Kumar Mahto<br/>
                    <br/>Connect With Me:<br/>
                    <a href="https://www.facebook.com/sanjay.mahto.9461"><i class="fa fa-facebook fa-2x"></i></a>
                        &nbsp;&nbsp;
                    <a href="https://twitter.com/MahtoSa"><i class="fa fa-twitter fa-2x"></i></a>
                        &nbsp;&nbsp;
                    <a href="https://www.instagram.com/kuma7609/"><i class="fa fa-instagram fa-2x"></i></a>
                       &nbsp;&nbsp;
                    <a href="https://github.com/sanjaymahto"><i class="fa fa-github fa-fw fa-2x"></i></a>
                       &nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/sanjay-kumar-a9359785/"><i class="fa fa-linkedin fa-2x"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


        <script>
        $(document).on("click", ".idoftest", function() {
                var Id = $(this).data('id');
               // console.log(Id);
                var idOfUser = $(this).data('user');
                //console.log(idOfUser);
                window.location.href = "#/liveTest/"+idOfUser+"/"+Id;
            });
        </script>